@font-face {
    font-family: titlefont;
    src: url("fonts/runtime-font/runtime.otf");
}

@font-face {
    font-family: basicfont;
    src: url("fonts/queensides-font/queensideslt.ttf");
}

@font-face {
    font-family: basicbold;
    src: url("fonts/queensides-font/queensidesbd.ttf");
}

.reveal {
  opacity: 0 !important;
  transform: translateY(80px) !important;
  transition: 0.4s ease-out !important;
}

.reveal.show {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.revealleft {
  opacity: 0 !important;
  transform: translateX(-70px) !important;
  transition: 0.4 ease-out !important;
}

.revealleft.show {
  opacity: 1 !important;
  transform: translateX(0) !important;
}

.revealright {
  opacity: 0 !important;
  transform: translateX(70px) !important;
  transition: 0.4 ease-out !important;
}

.revealright.show {
  opacity: 1 !important;
  transform: translateX(0) !important;
}

.reveal2 {
  opacity: 0 !important;
  transform: translateY(80px) !important;
  transition: 0.4s ease-out !important;
}

.reveal2.show {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.disable-scroll-reveal .reveal2 {
  transition: none !important;
}

* {
    box-sizing: border-box;
}

body {
    background-color: white;
    font-size: 16px;
    font-family: "Arial Narrow", Helvetica, sans-serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

#splashscreen {
    background-image: url("images/prettycadobg.png");
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}

#titlepic {
    border-radius: 50%;
    margin: 10px 2px;

}

.cirdecor {
    background-color: white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: inline-block;
    margin: 10px 2px;
}

#titlestuff {
    padding: 0 50px;
    width: 80%;
    color: white;
}

#titlestuff > h1 {
    font-family: titlefont, sans-serif;
    font-size: 60pt;
    margin: 10px;
    letter-spacing: 10px;
    text-shadow: 0px 0px 20px black;
}

#titlestuff > h2 {
    font-family: basicfont, sans-serif;
    font-size: 24pt;
    margin-top: 10px;
    letter-spacing: 4px;
    text-shadow: 0px 0px 20px black;

}

#bodycontent {
    background-image: url("images/tropicalbg.png");
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    min-height: 50vh;
    box-shadow: 0 0 220px 220px white;
}

#bodycontent h1 {
    font-size: 30pt;
    font-family: basicfont, sans-serif;
    color: #333;
}

.linethrough {
    width: 100vw;
    border: none;
    border-top: 3px solid rgb(74, 111, 52);
    height: 0;
    margin: auto;
}

.whiteblock {
    width: 90vw;
    min-height: 30vh;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 15px 2px rgba(164, 164, 164, 0.5);
    border-radius: 10px;
    padding: 40px 1.5%;
    margin: 40px auto;
    display: flex;
    gap: 40px;
    position: relative;
    font-family: sans-serif;
    justify-content: center;
}

.whiteblock h2 {
    color: white;
    background-color: rgb(74, 111, 52);
    font-size: 2em;
    font-family: basicbold, sans-serif;
    letter-spacing: 1px;
    padding: 30px;
    margin-bottom: 0;
}

.whiteblock h3 {
  color: rgb(122, 205, 34);
  background-color: aqua;
  font-size: 1.2em;
  font-family: basicbold, sans-serif;
  letter-spacing: 1px;
  padding: 30px;
  margin-top: 0;
}

.greenblock {
    width: 100vw;
    min-height: 30vh;
    background-color: rgb(47, 42, 33);
    padding: 40px 7.5%;
    margin: 40px 0;
    display: flex;
    gap: 40px;
    position: relative;
    font-family: sans-serif;
    justify-content: center;
    color: white;
}

.greenblock h2 {
    color: rgb(66, 56, 36);
    background-color: white;
    font-size: 2em;
    font-family: basicbold, sans-serif;
    letter-spacing: 1px;
    padding: 30px;
    margin-bottom: 0;
}

.greenblock h3 {
  color: rgb(255, 255, 255);
  background-color: rgb(70, 63, 50);
  font-size: 1.2em;
  font-family: basicbold, sans-serif;
  letter-spacing: 1px;
  margin-top: 0;
}
